<h1>Questions</h1>

<ol>
  <% @questions.each do |question| %>
  <li>
    <strong><%= question.title %></strong>
    <%= link_to 'Details', question %>
    (<%= question.updated_at %>)
  </li>
  <% end %>
</ol>

<%= link_to 'Post a New Question', new_question_path %>
